---
import Layout from "../layouts/Layout.astro";
import SearchWidget from "../components/Search Widget.astro";
---
<Layout title="Results">
    <script>
        import DOMPurify from "dompurify";
        const search = document.querySelector("#search") as HTMLInputElement;
        const searchReadout = document.querySelector("#searchReadout");

        window.addEventListener("DOMContentLoaded", () => {
            const urlParams = DOMPurify.sanitize(new URLSearchParams(window.location.search).get("q"));
            search.value = urlParams;
            searchReadout.textContent = urlParams;
        })
    </script>
    
    <h2 class="text-4xl font-bold text-center mb-4">Search Results For: <span id="searchReadout"></span></h2>
    <SearchWidget />
</Layout>

