body {
    margin:0;
    border: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #222;
    color: #fff;
}

a {
    text-decoration: none;
}

.topnav {
    background-color: #1e1e1e;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.topnav a {
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.topnav a:hover {
    color: #aaa;
}

#firstpage {
    background-image: url("https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148703851.jpg?w=2000");
    background-color: #222;
    background-blend-mode: overlay;
    text-align: center;
    padding: 100px 0;
    margin:auto;
    font-size:100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}