<aside>
    <form class="grid gap-4 border-slate-800 bg-slate-900 border-4">
        <div>
            <label for="search" class="font-bold">Search</label>
        </div>
        <input type="search" required min="2" max="24" name="search" id="search" placeholder="Enter a search term..." class="bg-slate-700">
    </form>
</aside>