---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About" >
    <!-- <h1 class="font-bold text-2xl">About</h1> -->
    <div class="border-4 border-slate-700 p-3 m-1 bg-slate-800 rounded-xl">
        <p class="indent-6 font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus velit quia sunt. Blanditiis, perspiciatis cumque molestias dicta ab nam, voluptatum optio nulla quam distinctio autem eligendi vero quod illo laudantium cupiditate beatae minus accusamus dolores ullam, harum unde iusto? Magnam vitae voluptatibus qui quia ex provident ipsa dolorem consequuntur eos.</p>
    </div>
</Layout>