<aside>
    <form class="border-slate-700 bg-slate-900 border-4 text-center">
        <label for="search" class="font-bold">Search</label>
        <input
            type="search"
            required
            min="2"
            max="24"
            name="search"
            id="search"
            placeholder="Enter a search term..."
            autocomplete="off"
            class="bg-slate-800 w-full">
    </form>
</aside>

<script>
    // Slug
    import DOMPurify from "dompurify"
    const form = document.querySelector("form")
    form?.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const searchTerm = DOMPurify.sanitize(formData.get("search")?.toString());
        if(!searchTerm || searchTerm.length === 0) return;
        const url = new URL("/search", window.location.origin);
        url.searchParams.set("q", searchTerm);
        window.location.assign(url.toString())
    })
</script>