---
import Navigation from "../components/Navigation.astro";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="font-sans bg-black-russian">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
	</head>
	<body class="m-auto p-4 w-800 perspective-500 text-white text-xl">
		<header>
			<nav>
				<Navigation />
			</nav>
		</header>

		<main>
			<h1 class="text-6xl font-bold text-center mb-4 ">
				<span class="h-14 bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text text-transparent">
					{title}
				</span>
			</h1>
			<slot />
		</main>
	</body>
</html>